[Desktop Entry]
Type=Application
Version=1.0
Name=Htop
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
TryExec=htop
Exec=_htop_launcher
Terminal=false
Categories=System;Monitor;ConsoleOnly;
